{% extends "base.html" %}
{% block title %}Login{% endblock%}

{%block content%}
<form method="post" class="d-flex flex-column">
    <h3 class="justify-content-center align-items-center align-content-center my-3">Login</h3>
    <div class="form-group my-2">
        <label for="email">Email</label>
        <input type="email" class="form-control" name="email" id="email" placeholder="Enter your email"/> 
    </div>

    <div class="form-group my-2">
        <label for="password">Password</label>
        <input type="password" class="form-control" name="password" id="password" placeholder="Enter your password"/> 
    </div>

    <br/>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{%endblock%}